.book-container {
    background: #f4eee9;
    padding: 30px;
    border-radius: 20px;
    width: 400px;
    margin: 50px auto;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    text-align: center;
    font-family: 'Allura', cursive;
    font-size: 20px;
}

.book-container input,
.book-container textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 12px;
    border-radius: 12px;
    border: 1px solid #ddd;
}

.book-container button {
    background: #c68b7b;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 12px;
    width: 100%;
}


/*FOR THE BOOKSHELF*/
.bookshelf-container {
    padding: 40px;
    width: 100%;
    box-sizing: border-box;
}

.books-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 25px;
}

.book-card {
    background: #f4efe9;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 8px 18px rgba(0,0,0,0.1);
    transition: 0.3s ease;
}

.book-card:hover {
    transform: translateY(-5px);
}

.book-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.book-info {
    padding: 15px;
}

.book-actions {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.edit-btn {
    background: #7d9d9c;
    color: white;
    padding: 8px 14px;
    border-radius: 10px;
    text-decoration: none;
}

.delete-btn {
    background: #b35c5c;
    color: white;
    padding: 8px 14px;
    border-radius: 10px;
    text-decoration: none;
}

/* EDIT BOOK */

.edit-book-container {
    width: 700px;
}

.edit-book-content {
    display: flex;
    gap: 35px;
    align-items: stretch;
    margin-bottom: 20px;
}


/* LEFT SIDE */

.book-details {
    flex: 1;
}

.book-details input,
.book-details textarea {
    width: 100%;
    box-sizing: border-box;
}

.book-details textarea {
    height: 120px;
    resize: none;
}


/* RIGHT SIDE */

.cover-section {
    width: 230px;
    padding: 15px;
    background: #eee5df;
    border-radius: 15px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.current-cover p,
.replace-cover p {
    margin-bottom: 8px;
    font-weight: bold;
}

.current-cover img {
    width: 100px;
    height: 130px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.replace-cover {
    margin-top: 15px;
    width: 100%;
}

.replace-cover input[type="file"] {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 0;
}


/* SAVE BUTTON */

.edit-book-container button {
    box-sizing: border-box;

    width: 100%;

    padding: 12px;

    border: none;

    border-radius: 20px;

    background: #d8a48f;

    color: white;

    font-family: 'Allura', cursive;
    font-size: 16px;

    font-weight: bold;

    cursor: pointer;

    margin-top: 10px;

    transition: 0.3s ease;
}