body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: url('/images/Background.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    backdrop-filter: blur(4px);
}

.login-card {
    background: #f4eee9;
    padding: 40px;
    width: 350px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    text-align: center;
    font-family: 'Allura', cursive;
    font-size: 20px;
}

.login-card h1 {
    margin-bottom: 20px;
    color: #5b4636;
}

.login-card input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #ddd;
    font-size: 16px;
}

.main-btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 20px;
    background: #d8a48f;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
    transition: 0.3s ease;
}

.main-btn:hover {
    background: #c98f7a;
    transform: scale(1.02);
}

.link {
    font-size: 18px;
    margin-top: 10px;
    color: #6d5d50;
    cursor: pointer;
    transition: 0.2s ease;
}

.link:hover {
    text-decoration: underline;
    color: #5b4636;
}

.error-message {
    margin-top: 15px;
    color: #b00020;
    font-size: 16px;
}


/*PASSWORD RESET*/
/*Forgot Password*/
.subtitle{
    font-size:16px;
    margin-bottom:20px;
    color:#6b5b4d;
}

.login-card form{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.login-card input{
    padding:12px;
    border-radius:8px;
    border:1px solid #ddd;
    font-size:14px;
}

.login-card input:focus{
    outline:none;
    border-color:#a58e7c;
}

.main-btn{
    background:#8f6f5c;
    color:white;
    border:none;
    padding:12px;
    border-radius:8px;
    font-size:14px;
    cursor:pointer;
    transition:0.2s ease;
}

.main-btn:hover{
    background:#7b5f4f;
}

.link{
    margin-top:15px;
    font-size:14px;
    color:#7b5f4f;
    cursor:pointer;
}

.link:hover{
    text-decoration:underline;
}


/*Verify Reset Code*/
.info-text{
    font-size:14px;
    color:#7b6b5e;
    margin-bottom:10px;
}

.reset-code{
    font-size:14px;
    margin-bottom:20px;
    color:#5f4c3f;
}