.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.profile-card {
    background: #f4eee9;
    padding: 40px;
    width: 400px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    text-align: center;
    font-family: 'Allura', cursive;
    font-size: 20px;
}

.profile-card h2 {
    margin-bottom: 20px;
    color: #5b4636;
}

.profile-card input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #ddd;
    font-size: 16px;
}

.main-btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 20px;
    background: #d8a48f;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
    transition: 0.3s ease;
}

.main-btn:hover {
    background: #c98f7a;
    transform: scale(1.02);
}