<p style="color: black; background: #f3e9dc; font-size: 36px; align-content: center">ACCESS DENIED!<br></p>

<p style="color: black; background: #f3e9dc; font-size: 28px; align-content: center">Only the Admin can delete a user.</p>
