<p style="font-family: 'Allura', cursive;
    background: #f3e9dc;
    display: flex;
    padding: 25px 35px;
    border-radius: 25px;
    font-size: 28px;
    font-weight: 600;
    color: #6b4f4f;">User accounts may only be removed by the administrator.</p>